@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/Segoe\ UI.woff') format('woff');
    }
    
@font-face {
    font-family: 'Impact Regular';
    src: url('../fonts/Impact.woff') format('woff');
}
html {
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #121528;
    margin: 0;
    overflow-x: hidden;
}

    /*Cabeçalho*/

header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    /*Logo*/

#logo {
    position: relative;
    height: 80px;
    width: 80px;
    margin-left: 55px;
    filter: drop-shadow( -10px 10px 15px black);
}

    /*Nav bar*/

nav {
    position: relative;
    margin-right: 100px;
}

#navbar {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

#navbar li {
    padding-right: 23px;
}

#navbar li a {
    position: ;
    font-family: 'Segoe UI Regular';
    font-size: 20pt;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

#navbar li a:hover {
    font-size: 30px;
    text-decoration: underline;
}

    /*Background*/

#inicio {
    position: relative;
    height: 720px;
    width: 1520px;
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    box-shadow: 0px 18px 30px #0000008d;
}

    /*Div 1*/

#intro {
    width: 1240px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#intro h1 {
    margin: -30px 0px 25px 55px;
    padding-top: 0px;
    font-size: 65pt;
    color: #feb400;
    text-shadow: -5px 5px 5px #000000;
    font-family: 'Impact Regular';
    letter-spacing: 10px;
}

#intro h2 {
    margin: 85px 0px 0px 55px;
    padding: 0px;
    font-size: 45pt;
    font-family: 'Impact Regular';
    letter-spacing: 5px;
    text-shadow: -3px 5px 3px #000000;
}

#intro h3 {
    margin: 0px 0px 0px 55px;
    font-size: 15pt;
    font-family: 'Segoe UI Regular';
}

    /*Triangulo*/

#init {
    position: absolute;
    transform: rotate(-90deg);
    top: -5px;
    right: -90px;
    filter: drop-shadow(-30px -10px 30px black);
}

    /*Instagram*/

#insta {
    position: relative;
    float: right;
    right: 200px;
    top: 120px;
    width: 200px;
    filter: drop-shadow(-5px 5px 5px black);
}

    /*Contrate*/

#button {
    position: relative;
    left: 200px;
    width: 150px;
    top: 120px;
    filter: drop-shadow(-15px 10px 15px black);
}

    /*Sobre*/

#sobre {
    position: relative;
    height: 720px;
    width: 1520px;
}