@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/Segoe\ UI.woff') format('woff');
    }
    
@font-face {
    font-family: 'Impact Regular';
    src: url('../fonts/Impact.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url(../fonts/Segoe\ UI\ Bold.woff) format('woff');
}

html {
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #0d1028;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

    /*Cabeçalho*/

header {
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100%;
    z-index: 1;
    background-color: #0d1028;
    filter: drop-shadow(0px 1px 5px black);
}

    /*Logo*/

#logo {
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: 200px;
    filter: drop-shadow( -5px 5px 5px black);

    transition: 1s;
}

    /*Nav bar*/

#btn-mobile {
    display: none;
}

nav {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

#navbar li {
    margin: 12px;
}

#navbar li a {
    font-family: 'Segoe UI Regular';
    font-size: 18pt;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

#navbar li a:hover {
    font-size: 25px;
    text-decoration: underline;
}

    /*Background*/

#inicio {
    position: relative;
    height: 100vh;
    width: 100vw;
    top: -85px;
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    box-shadow: 0px 18px 30px #0000008d;
}

    /*Div 1*/

#intro {
    width: 1240px;
    top: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    transition: 1s;
}

#intro h1 {
    margin: -30px 0px 25px 55px;
    padding-top: 0px;
    font-size: 65pt;
    color: #feb400;
    text-shadow: -5px 5px 5px #000000;
    font-family: 'Impact Regular';
    letter-spacing: 10px;

    transition: 1s;
}

#intro h2 {
    margin: 85px 0px 0px 55px;
    padding: 0px;
    font-size: 45pt;
    font-family: 'Impact Regular';
    letter-spacing: 5px;
    text-shadow: -3px 5px 3px #000000;

    transition: 1s;
}

h3 {
    margin: 0px 0px 0px 55px;
    font-size: 18pt;
    font-family: 'Segoe UI Regular';

    transition: 1s;
}

    /*Triangulo*/

#init {
    position: absolute;
    transform: rotate(-90deg);
    top: -5px;
    right: -90px;
    filter: drop-shadow(-30px -10px 30px black);
    transition: 1s;
}

    /*Contrate*/

#button {
    position: relative;
    
    height: 50px;
    top: 110px;
    left: 50px;

    filter: drop-shadow(-15px 10px 15px black);

    transition: 1s;
}

    /*Sobre*/

#sobre {
    height: 650px;
    width: 100vw;
}

#sobre1 {
    width: 100vw;
    height: 20px;
}    

#sobre h2 {
    position: relative;
    font-size: 45pt;
    font-family: 'Impact Regular';
    color: #feb400;
    text-shadow: -3px 5px 3px #000000;
    text-align: center;
    font-weight: normal;
}

    /* Skills */
    
.skills {
    width: 1240px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;

    transition: 1s;
}

#skill {
    width: 1240px;

    margin: 0 auto 0 auto;

    display: flex;
    flex-direction: column;

            transition: 1s;
}

.skills div {
    height: 160px;
    width: 160px;
    margin: 0 10px 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: 1s;
}

.skills h4 {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
}

.circle {
    position: absolute;
    height: 160px;

    transition: 1s;
}

    /* Portifólio */

#servicos {
    height: 650px;
    width: 100vw;
}

#serv {
    width: 100vw;
    height: 20px;
}

#servicos h2 {
    position: relative;
    font-size: 45pt;
    font-family: 'Impact Regular';
    color: #feb400;
    text-shadow: -3px 5px 3px #000000;
    text-align: center;
    font-weight: normal;
}

    /* Cards de Serviços */

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #17192c;

    width: 300px;
    height: 400px;

    border-radius: 50px;
    box-shadow: -10px 10px 25px #000000b0;

    transition: 1s;
}

.sec h3 {
    color: #feb400;

    text-align: center;

    margin: 0;
    padding: 0;

    font-family: 'Impact Regular';
    font-weight: normal;
    font-size: 25pt;
}

.psec {
    width: 230px;

    transition: 1s;
}

.sec p{
    color: #fff;

    margin: 0;
    padding: 0;

    font-family: 'Segoe UI Bold';
    font-size: 14pt;

    text-align: justify;

}

.princ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #feb400;

    width: 380px;
    height: 480px;
    
    margin: 0 60px 0 60px;

    border-radius: 50px;
    box-shadow: -10px 10px 25px #000000b0;

    transition: 1s;
}

.princ h3 {
    color: #0d1028;

    margin: 0;
    padding: 0;

    font-family: 'Impact Regular';
    font-weight: normal;
    font-size: 40pt;
}

#princ {
    width: 300px;

    transition: 1s;
}

.princ p {
    color: #fff;

    margin: 0;
    padding: 0;

    font-family: 'Segoe UI Bold';
    font-size: 20pt;

    text-align: justify;
}

    /* Contato */

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 650px;
    width: 100vw;
}

#conta {
    width: 100vw;
    height: 20px;
}

#contato h2 {
    position: relative;
    font-size: 45pt;
    font-family: 'Impact Regular';
    color: #feb400;
    text-shadow: -3px 5px 3px #000000;
    text-align: center;
    font-weight: normal;
}

#cont {
    background-color: #feb400;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 400px;
}

.icont {
    transition: 1s;
}

    /* Quadrados de contato */

.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0d1028;
    box-shadow: -10px 10px 25px #0000007d;

    height: 300px;
    width: 300px;
    border-radius: 50px;

    margin: 0 40px 0 40px;
    padding: 0;

    transition: 1s;
}

.square h3 {
    color: #feb400;

    margin: 0 0 60px 0;
    padding: 0;

    text-align: center;

    font-family: 'Segoe UI Bold';
    font-size: 20pt;
    
}

.square h4 {
    margin: 0;
    padding: 0;

    text-align: center;

    font-family: 'Segoe UI Regular';
    font-size: 15pt;
}

.icons {    
    margin: 0;
    padding: 0;
}

#copy {
    margin: 0;
    padding: 0;

    text-align: center;
}

#git {
    margin: 0 25px 0 25px;
}

    /* Menu Hamburguer */

#hamburguer {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 20px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1240px) {
    #logo {
        margin-left: 55px;

        transition: 1s;
    }

    #init {
        right: -150px;

        transition: 1s;
    }
}

@media (max-width: 1150px) {

    /* Inicio */

    #init {
        opacity: 0;

        transition: 0.5s;
    }

    #intro {
        top: 140px;

        transition: 1s;
    }

    #intro h1 {
        font-size: 90pt;

        margin: -50px 0px 25px 55px;
        transition: 1s;
    }
    
    #intro h2 {
        font-size: 65pt;

        transition: 1s;
    }
    
    h3 {
        font-size: 25pt;

        transition: 1s;
    }

    #button {
        height: 60px;
        top: 90px;

        transition: 1s;
    }
    
    /* Skills */
        
    .skills {
        width: 900px;

        transition: 1s;
    }
    
    #skill {
        width: 900px;

        transition: 1s;
    }
    
    .skills div {
        height: 140px;
        width: 140px;

        transition: 1s;
    }
    
    .circle {
        height: 150px;

        transition: 1s;
    }
    
    /* Cards */
    
    .sec {  
        width: 250px;
        height: 350px;

        transition: 1s;
    }

    .psec {
        width: 200px;
    }

    .princ {
        width: 330px;
        height: 430px;
        
        margin: 0 15px 0 15px;
    
        transition: 1s;
    }
    
    
    #princ {
        width: 250px;

        transition: 1s;
    }

    .princ p {
        font-size: 18pt;
        
        transition: 1s;
    }
    
    /* Contato */
    
    #cont {
        height: 350px;
    }

    #contato h3 {
        font-size: 18pt;
    }
    
    .icont {
        height: 70px;

        transition: 1s;
    }

        /* Quadrados de contato */
    
    .square {
        height: 270px;
        width: 270px;

        margin: 0 10px 0 10px;

        transition: 1s;
    }
    
    .square h3 {
        font-size: 18pt;
        
    }
    
    .square h4 {
        font-size: 13pt;
    }
}

@media (max-width: 900px) {
    
    /* Inicio */

    #intro h1 {
        font-size: 70pt;

        margin: -40px 0px 25px 55px;

        transition: 1s;
    }
    
    #intro h2 {
        font-size: 45pt;

        transition: 1s;
    }
    
    h3 {
        font-size: 18pt;

        transition: 1s;
    }

    #button {
        height: 50px;
        top: 110px;

        transition: 1s;
    }

     /* Skills */

    #sobre {
        height: 900px;
        width: 100vw;
    }
        
    .skills {
        width: 700px;

        flex-wrap: wrap;

        transition: 1s;
    }
    
    #skill {
        width: 700px;

        transition: 1s;
    }

    /* Serviços */

    #servicos {
        height: 1500px;

        transition: 1s;
    }

    .cards {
        flex-direction: column;
    }

    .princ {
        margin: 40px 0;

        width: 380px;
        height: 450px;
    }

    .princ p {
        font-size: 21pt;
    }

    #princ {
        width: 350px;
    
        transition: 1s;
    }

    .sec {  
        width: 340px;
        height: 420px;
    

        transition: 1s;
    }

    .sec p{
        font-size: 16pt;
        
        transition: 1s;
    }

    .psec {
        width: 290px;
    
        transition: 1s;
    }

    .sec h3 {
        font-size: 29pt;

        transition: 1s;
    }
    .princ h3 {
        font-size: 44pt;
    }

    /* Contato */

    #cont {
        height: 310px;
    }

    #contato h3 {
        font-size: 15pt;
        
        transition: 1s;
    }
    
    .icont {
        height: 50px;

        transition: 1s;
    }

        /* Quadrados de contato */
    
    .square {
        height: 200px;
        width: 205px;

        margin: 0 10px 0 10px;

        transition: 1s;
    }
    
    .square h3 {
        font-size: 18pt;

        margin: 0 0 40px 0;
        
        transition: 1s;
    }
    
    .square h4 {
        font-size: 12pt; 

        transition: 1s;
    }

    #email {
        word-break: break-all;
        
        transition: 1s;
    }

    /* Toggle Menu */

    #hamburguer {
        display: block;
    }

    #hamburguer:hover {
        cursor: pointer;
    }

    #hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #hamburguer.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    #navbar {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: #0d1028;
        width: 100%;
        text-align: center;
        transition: .3s;
    }

    #navbar li {
        margin: 16px 0;
    }

    #navbar.active {
        left: 0;
    }
}