@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/Segoe\ UI.woff') format('woff');
    }
    
@font-face {
    font-family: 'Impact Regular';
    src: url('../fonts/Impact.woff') format('woff');
}
html {
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #121528;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

    /*Cabeçalho*/

header {
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    background-color: #121528;
    filter: drop-shadow(0px 1px 5px black);
}

    /*Logo*/

#logo {
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: 12px;
    filter: drop-shadow( -10px 10px 15px black);
}

    /*Nav bar*/

nav {
    position: relative;
    margin-right: 100px;
}

#navbar {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

#navbar li {
    padding-right: 23px;
}

#navbar li a {
    font-family: 'Segoe UI Regular';
    font-size: 18pt;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

#navbar li a:hover {
    font-size: 25px;
    text-decoration: underline;
}

    /*Background*/

#inicio {
    position: relative;
    height: 100vh;
    width: 1520px;
    top: -85px;
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    box-shadow: 0px 18px 30px #0000008d;
}

    /*Div 1*/

#intro {
    width: 1240px;
    top: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#intro h1 {
    margin: -30px 0px 25px 55px;
    padding-top: 0px;
    font-size: 65pt;
    color: #feb400;
    text-shadow: -5px 5px 5px #000000;
    font-family: 'Impact Regular';
    letter-spacing: 10px;
}

#intro h2 {
    margin: 85px 0px 0px 55px;
    padding: 0px;
    font-size: 45pt;
    font-family: 'Impact Regular';
    letter-spacing: 5px;
    text-shadow: -3px 5px 3px #000000;
}

h3 {
    margin: 0px 0px 0px 55px;
    font-size: 18pt;
    font-family: 'Segoe UI Regular';
}

    /*Triangulo*/

#init {
    position: absolute;
    transform: rotate(-90deg);
    top: -5px;
    right: -90px;
    filter: drop-shadow(-30px -10px 30px black);
}

    /*Instagram*/

#insta {
    position: relative;
    float: right;
    right: 200px;
    top: 310px;
    height: 50px;
    filter: drop-shadow(-5px 5px 5px black);
}

    /*Contrate*/

#button {
    position: relative;
    left: 200px;
    height: 50px;
    top: 310px;
    filter: drop-shadow(-15px 10px 15px black);
}

    /*Sobre*/

#sobre {
    height: 800px;
    width: 1520px;
}

#sobre1 {
    width: 100vw;
    height: 20px;
}    

#sobre h2 {
    position: relative;
    font-size: 45pt;
    font-family: 'Impact Regular';
    color: #feb400;
    text-shadow: -3px 5px 3px #000000;
    text-align: center;
}

    /* Skills */
    
.skills {
    width: 1240px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.subt {
    margin-left: 200px;
}

.skills div {
    height: 120px;
    width: 120px;
    margin: 0 30px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills h4 {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
}

.circle {
    position: absolute;
    height: 160px;
}

